*{
    margin: 0;
    padding: 0;
    box-sizing:border-box border-box;
}
body{
    background-color: gray;
    font-family: sans-serif;
}
main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form{
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
}
fieldset{
 
    padding: 15px;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;

}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}
label{
    display: inline-block;
    margin-bottom: 5px;
}
input, select, textare{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}


textarea{
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 40px;
    padding: 0 5px;
}